@model List<JumbotronEventFinder.Models.Events>
@{
    ViewData["Title"] = "Event List";
}

<h2>Event List</h2>

@foreach(var item in Model)
{
    <div>
        <h2>@item.Title</h2>
        <p>
            @item.Filename
            @item.EventId<br />
            @item.Description<br />
            @item.Location<br />
            @item.Date<br />
        </p>
    </div>
}
