@model JumbotronEventFinder.Models.Purchase

@{
    ViewData["Title"] = "Details";
}

<h2>Confirm Purchase</h2>

    <p><strong>Show ID:</strong> @Model.ShowId</p>
    <p><strong>Name:</strong> @Model.Name</p>
    <p><strong>Email:</strong> @Model.Email</p>
    <p><strong>Tickets:</strong> @Model.TicketSales</p>
    <p><strong>Payment Type:</strong> @Model.PaymentType</p>
    <p><strong>Card Info:</strong> @Model.CardNumber</p>

<form asp-controller="Purchases" asp-action="Confirm" method="post">
    
    Confirm
        @Html.HiddenFor(m => m.ShowId)
        @Html.HiddenFor(m => m.Name)
        @Html.HiddenFor(m => m.Email)
        @Html.HiddenFor(m => m.TicketSales)
        @Html.HiddenFor(m => m.PaymentType)
        @Html.HiddenFor(m => m.CardNumber)
    
    <div class="form-group">
        <button type="submit" class="btn btn-success">Confirm Purchase</button>
        <a asp-action="Index" asp-route-showId="@Model.ShowId" class="btn btn-secondary">Edit</a>
        <a asp-controller="Home" asp-action="Index" class="btn btn-outline-secondary">Cancel</a>
    </div>
</form>
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}