@model JumbotronEventFinder.Models.Show

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

@if (!String.IsNullOrEmpty(Model.Filename))
{
    <div class="bg-secondary-subtle">
        <img src="@Model.Filename" alt="@Model.Title" class="w-25" />
    </div>
}

<div class="bg-secondary-subtle">
    <h4>Show</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Location)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Location)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Creator)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Creator)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Date)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Date)
        </dd>
        @* <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CreateDate)
        </dt> *@
        @* <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CreateDate)
        </dd> *@
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Category)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Category.Title)
        </dd>
    </dl>
</div>
<div>
    <a asp-controller="Shows" asp-action="Edit" asp-route-id="@Model?.ShowId">Edit</a> |
    <a asp-controller="Home" asp-action="Index">Back to List</a>
</div>
